div {
    background-color: var(--foreground);
    margin: 0.5rem;
    padding: 0.75rem;
    border-radius: 1.25rem;
}

.acctBox {
    margin-bottom: 0;
    display: none;
}

.acctInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 0;
    padding: 0;
}

.banner {
    position: fixed;
    background-color: var(--accentDark);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
}

@media (max-width: 47.125rem) {
    .banner {
        height: 100px;
    }
}

.charCard {
    background-color: var(--foreground);
    margin: 0.25rem;
    padding: 0.75rem;
    border-radius: 1.25rem;
}

.content {
    background-color: var(--background);
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    min-height: 100vh;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    margin: 0;
    margin-top: .5rem;
    padding: 0;
}

.filterBox {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.inputBox {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.namebox {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.nameIcons {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

.results {
    background-color: var(--background);
    flex: 1;
    margin: 0;
    padding: 0;
}

.teamBox {
    font-size: 110%;
    color: var(--fontColor);
    line-height: 1.10;
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: var(--accentDark);
    border-radius: 0.5rem;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.textbox {
    font-size: 110%;
    color: var(--fontColor);
    line-height: 1.10;
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: var(--accentDark);
    border-radius: 0.5rem;
    max-width: calc(100% - 1rem);
}

.theaterBox {
    display: inline-block;
    width: max-content;
    height: max-content;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.filterContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: var(--accentDark);
    border-radius: 0.5rem;
}
