:root {
	--background: #303040;
	--foreground: #181828;
	--accentDark: #101018;
	--accentLight: #383848;
	--fontColor: #d0d0d0;
	--titleColor: white;
	--buttonHover: #343442;
	--buttonPress: #303040;

	--color5Star: #a76a2e;
	--color4Star: #8369a4;
}

html,
body {
	font-family: sans-serif;
	font-size: 100%;
	min-height: 100vh;
	background-color: var(--accentDark);
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

header {
	line-height: 1.25;
	background-color: var(--foreground);
	margin: 0.5rem;
	margin-top: calc(0.5rem + 50px);
	margin-bottom: 0;
	padding: 0.75rem;
	border-radius: 1.25rem;
	justify-content: space-between;
}

@media (max-width: 47.125rem) {
	header {
		margin-top: calc(0.5rem + 100px);
		flex-flow: row wrap;
	}
}

section {
	display: grid;
	background-color: var(--background);
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	margin: 0.25rem;
	padding: 0rem;
}

@media (max-width: 30rem) {
	section {
		grid-template-columns: 1fr;
	}
}

p {
	font-size: 110%;
	color: var(--fontColor);
	margin: 0.25 rem;
	margin-left: 0.75rem;
	line-height: 1.25;
}

label,
summary {
	font-size: 110%;
	color: var(--fontColor);
	margin: 0.25 rem;
	margin-left: 0.75rem;
	line-height: 1.25;
	cursor: pointer;
}

.nav li {
	float: right;
	margin: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-left: 0rem;
	margin-right: 0rem;
	vertical-align: middle;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: max-content;
}

.nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: var(--fontColor);
}

nav li:hover {
	background-color: var(--accentLight);
}

nav li:active {
	background-color: var(--buttonPress);
}

.nav .titleReturn {
	float: left;
	width: max-content;
	display: flex;
	flex-direction: row;
}

.rightlabel {
	margin-left: 0.25rem;
}

h1 {
	color: var(--titleColor);
	font-size: clamp(100%, 6vw, 175%);
	font-family: "Trebuchet MS";
	line-height: 50px;
	padding: 0;
	margin: 0;
	max-width: calc(100vw - 66px);
}

h2 {
	color: var(--titleColor);
	font-size: 175%;
	font-family: "Trebuchet MS";
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}

.charName {
	width: fit-content;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0.25rem;
}

h3 {
	color: var(--titleColor);
	font-size: 135%;
	font-family: "Trebuchet MS";
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul,
ol {
	font-size: large;
	color: var(--fontColor);
	line-height: 1.25;
	margin: 0.5rem;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

em {
	font-size: 140%;
	font-weight: bold;
}

a:link {
	color: #3030E0
}

a:visited {
	color: #753AAB
}

.charIcon {
	width: 96px;
	height: 96px;
	margin: 0.25rem;
	margin-right: 0.5rem;
	border-radius: 0.5rem;
}

.charEle {
	width: 24px;
	height: 24px;
	margin: 0.25rem;
	margin-top: 12px;
	margin-right: 0;
}

.artiIco {
	width: 20px;
	height: 20px;
	margin: 0;
}

.acctEle {
	width: 24px;
	height: 24px;
	margin: 0;
}

.teamIcon {
	width: 40px;
	height: 40px;
	margin: 0;
	vertical-align: top;
}

.bannerico {
	float: left;
	width: calc(50px - 1rem);
	height: calc(50px - 1rem);
	margin: 0.5rem;
}

button {
	margin: .5rem;
	font-size: 110%;
	padding: 0.5rem;
	color: var(--fontColor);
	background-color: var(--accentLight);
	border-radius: 0.5rem;
	border-color: var(--accentDark);
	box-shadow: none;
	height: max-content;
	cursor: pointer;
	align-self: center;
}

button:hover {
	background-color: var(--buttonHover);
}

button:active {
	background-color: var(--buttonPress);
}

.runBtn {
	background-color: #107010;
}

.runBtn:hover {
	background-color: #106810;
}

.runBtn:active {
	background-color: #105810;
}

select {
	background-color: var(--accentLight);
	border-color: var(--accentDark);
	color: var(--fontColor);
	border-radius: 0.25rem;
	padding: .25rem;
	cursor: pointer;
}

.buildSelector {
	margin-top: 0.5rem;
}

option:hover {
	background-color: #242432;
}

input[type="checkbox"] {
	margin: 0.25 rem;
	margin-left: 0.75rem;
	line-height: 1.25;
	color: var(--fontColor);
	cursor: pointer;
}

textarea {
	background-color: #242432;
	font-size: 110%;
	color: var(--fontColor);
	margin: 0.5rem;
	margin-left: 0.75rem;
	padding: 0.25rem;
	line-height: 1.25;
	border-radius: 0.5rem;
	border-color: var(--accentDark);
	width: 25rem;
	box-sizing: border-box;
	max-width: 98%;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--accentDark);
	margin: 0rem;
	padding: 0rem;
	border-radius: 0rem;
	flex: 0 0 auto;
}

footer p {
	flex: 1 1 0;
}

.bottomLink {
	margin: 0;
	padding: 0.5rem;
	width: max-content;
	text-align: center;
	text-decoration: none;
	color: var(--fontColor);
	flex: 0 1 auto;
}

.bottomLink:hover {
	background-color: var(--accentLight);
}

.bottomLink:active {
	background-color: var(--buttonPress);
}

.bottomDisclaimer {
	text-align: right;
	margin-right: 0.75rem;
}

.modal {
	background-color: var(--foreground);
	padding: 0.75rem;
	border-radius: 1.25rem;
	width: max-content;
	border: 0;
}

.modal::backdrop {
	background-color: var(--accentDark);
	opacity: 50%;
}


.filterLabel {
	display: inline-block;
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	margin: .25rem;
	padding: 0;
}

.filterCheck {
	display: none;
	opacity: 0;
	width: 0;
	height: 0;
}

.filterButton {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--foreground);
	border-radius: 0.25rem;
	border-color: var(--accentDark);
	text-align: center;
	align-content: center;
	margin: 0;
}

.filterCheck:checked+.filterButton {
	background-color: var(--accentLight);
}
