<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../index.css" rel="stylesheet" />
	<link href="../divs.css" rel="stylesheet" />
	<link rel="icon" href="../assets/appicons/favicon.ico" sizes="32x32" />
	<link rel="icon" href="../assets/appicons/fungus256.ico" sizes="256x256" />
	<link rel="icon" href="../assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="icon" href="../assets/appicons/fungus128.ico" sizes="128x128" />
	<link rel="apple-touch-icon" href="../assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="license" href="https://gitlab.com/nate12345678/genshinRater/-/blob/main/LICENSE" />
	<title>GI Quick Build Cards</title>
	<script src="../builds.js"></script>
</head>

<body>
	<div class="banner">
		<nav>
			<ul class="nav">
				<li class="titleReturn">
					<img class="bannerico" src="../assets/appicons/fungus128.ico">
					<a href="../">
						<h1>Genshin Impact Build Rater&nbsp;</h1>
					</a>
				</li>
				<li><a href="https://gitlab.com/nate12345678/genshinRater/">Code</a></li>
				<li><a href="https://frzyc.github.io/genshin-optimizer/#/scanner">Scanners</a></li>
				<li><a href="../builds">Builds</a></li>
				<li><a href="../readme">About</a></li>
			</ul>
		</nav>
	</div>
	<div class="content">
		<header>
			<h2> Build Recommendations</h2>
			<ul>
				<li>All characters and weapons are <a
						href=" https://gitlab.com/nate12345678/genshinRater#level-score">always
						recommended</a> to be level 90</li>
				<li>Artifacts should be 5-star, +20</li>
				<li>If there are multiple different builds available, use the dropdown to switch between them</li>
				<li>Synergies are not strictly ordered</li>
			</ul>
			<!--
				Remove Jump list until we figure out a better way to handle hidden hrefs
				<p>
					Jump to:<br>
					&bull;{{range .Jumps}}&thinsp;<a href="#{{.Name}}">{{.Alpha}}</a>&thinsp;&bull;{{end}}
				</p>
				-->
			<details open>
				<summary>Character Filters</summary>
				<div class="filterBox" id="filterBox">
					<button onclick="resetBuildFilters();">Reset</button>
					<div class="filterContainer">
						<label for="show5Star" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="show5Star" name="show5Star" checked />
							<img class="filterButton" src="../assets/elements/5star.png" />
						</label>
						<label for="show4Star" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="show4Star" name="show4Star" checked />
							<img class="filterButton" src="../assets/elements/4star.png" />
						</label>
					</div>
					<div class="filterContainer">
						<label for="showAnemo" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showAnemo" name="showAnemo" checked />
							<img class="filterButton" src="../assets/elements/anemo.png" />
						</label>
						<label for="showCryo" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showCryo" name="showCryo" checked />
							<img class="filterButton" src="../assets/elements/cryo.png" />
						</label>
						<label for="showDendro" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showDendro" name="showDendro" checked />
							<img class="filterButton" src="../assets/elements/dendro.png" />
						</label>
						<label for="showElectro" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showElectro" name="showElectro" checked />
							<img class="filterButton" src="../assets/elements/electro.png" />
						</label>
						<label for="showGeo" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showGeo" name="showGeo" checked />
							<img class="filterButton" src="../assets/elements/geo.png" />
						</label>
						<label for="showHydro" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showHydro" name="showHydro" checked />
							<img class="filterButton" src="../assets/elements/hydro.png" />
						</label>
						<label for="showPyro" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showPyro" name="showPyro" checked />
							<img class="filterButton" src="../assets/elements/pyro.png" />
						</label>
					</div>
					<div class="filterContainer">
						<label for="showBow" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showBow" name="showBow" checked />
							<img class="filterButton" src="../assets/elements/Bow.png" />
						</label>
						<label for="showCatalyst" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showCatalyst" name="showCatalyst" checked />
							<img class="filterButton" src="../assets/elements/Catalyst.png" />
						</label>
						<label for="showClaymore" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showClaymore" name="showClaymore" checked />
							<img class="filterButton" src="../assets/elements/Claymore.png" />
						</label>
						<label for="showPolearm" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showPolearm" name="showPolearm" checked />
							<img class="filterButton" src="../assets/elements/Polearm.png" />
						</label>
						<label for="showSword" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showSword" name="showSword" checked />
							<img class="filterButton" src="../assets/elements/Sword.png" />
						</label>
					</div>
					<div class="filterContainer">
						<label for="showOn-Field" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showOn-Field" name="showOn-Field" checked />
							<img class="filterButton" src="../assets/elements/On-Field.png" />
						</label>
						<label for="showOff-Field" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showOff-Field" name="showOff-Field"
								checked />
							<img class="filterButton" src="../assets/elements/Off-Field.png" />
						</label>
						<label for="showDPS" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showDPS" name="showDPS" checked />
							<img class="filterButton" src="../assets/elements/DPS.png" />
						</label>
						<label for="showSupport" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showSupport" name="showSupport" checked />
							<img class="filterButton" src="../assets/elements/Support.png" />
						</label>
						<label for="showSurvivability" class="filterLabel">
							<input type="checkbox" class="filterCheck" id="showSurvivability" name="showSurvivability"
								checked />
							<img class="filterButton" src="../assets/elements/Survivability.png" />
						</label>
					</div>
				</div>
			</details>
		</header>
		<section>
			{{range .Chars}}
			{{- $charKey := .Key}}
			<div class="charCard show{{.Value.Element}} show{{.Value.Rarity}}star show{{.Value.WeaponType}} show{{.Value.Location}}{{range .Value.Roles}} show{{.}}{{end}}"
				id="{{.Key}}">
				<div class="namebox">
					<a href="../builds/#{{.Key}}">
						<img class="charIcon" src="../assets/icons/{{.Value.Nickname}}.webp" title="{{.Value.Nickname}}"
							{{- if eq .Value.Rarity 5 }} style="background-color: var(--color5Star)" {{- else -}}
							style="background-color: var(--color4Star);" {{ end -}} alt="">
					</a>
					<div class="nameIcons">
						<h2 class="charName" {{ if gt (len .Value.Nickname) 17 }}style="font-size: 160%;" {{- end }}>
							{{.Value.Nickname}}</h2><!-- remove inline spacing
						--><img class="charEle" src="../assets/elements/{{.Value.Element}}.png" title="{{.Value.Element}}" alt=""><!--
						--><img class="charEle" src="../assets/elements/{{.Value.Location}}.png" title="{{.Value.Location}}" alt="">
						{{- range .Value.Roles -}}
						<img class="charEle" src="../assets/elements/{{.}}.png" title="{{.}}" alt="">
						{{- end -}}
						<br>
						<div class="textbox">{{.Value.Description}}</div>
					</div>
				</div>
				<div class="teamBox">
					<b>Synergies:</b>
					{{- range .Value.Teammates -}}
					{{- if ne . "" -}}
					<img class="teamIcon" src="../assets/icons/{{.}}.webp" title="{{.}}">
					{{- end -}}
					{{- end -}}
				</div>
				<select class="buildSelector" {{- if lt (len .Value.Builds) 2 }} style="display: none;" {{- end}}>
					{{range .Value.Builds}}
					<option value="{{$charKey}}{{.Key}}">{{.Description}}</option>
					{{end}}
				</select>
				{{range .Value.Builds}}
				<div class="data" id="{{$charKey}}{{.Key}}">
					<div class="textbox"><b>Constellation</b>: {{.RecommendedConstellation}}</div>
					<div class="textbox"><b>Min. Substat CV</b>: {{.RecommendedCV}}</div>
					<div class="textbox">
						<b>Weapon Options</b>:<br>
						{{range .RecommendedWeapons}}
						&nbsp;&nbsp;- {{.}}<br>
						{{end}}
					</div>
					<div class="textbox">
						<b>Talent Levels</b>:<br>
						&nbsp;&nbsp;Normal: {{.NormalAtkLvl}}<br>
						&nbsp;&nbsp;Skill: {{.SkillLvl}}<br>
						&nbsp;&nbsp;Burst: {{.BurstLvl}}<br>
					</div>
					<div class="textbox">
						<b>Artifact Sets</b>: <br>
						{{range .AllowedSets}}
						&nbsp;&nbsp;- {{.}}<br>
						{{end}}
					</div>
					<div class="textbox">
						<b>2-piece Set Bonuses</b>:<br>
						{{range .AllowedEffects}}
						&nbsp;&nbsp;- {{.}}<br>
						{{end}}
					</div>
					<div class="textbox">
						<b>Artifact Main Stats</b>:<br>
						<img class="artiIco" src="../assets/elements/Circlet.webp" title="Circlet" alt="Circlet">
						{{.CircletStat}}<br>
						<img class="artiIco" src="../assets/elements/Goblet.webp" title="Goblet" alt="Goblet">
						{{.GobletStat}}<br>
						<img class="artiIco" src="../assets/elements/Sands.webp" title="Sands" alt="Sands">
						{{.SandsStat}}<br>
					</div>
					<div class="textbox">
						<b>Artifact Substats</b>:<br>
						{{range .AllowedSubs}}
						&nbsp;&nbsp;- {{.}}<br>
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
			{{end}}
		</section>
	</div>
	<footer id="footerdiv">
		<p>
			See an issue with the results? Report it
			<a href="https://gitlab.com/nate12345678/genshinRater/-/issues/1">here</a>.
		</p>
		<a class="bottomLink" href="./#">Back to top</a>
		<p class="bottomDisclaimer">
			This website is neither affiliated with nor endorsed by HoYoverse.
		</p>
	</footer>
</body>

</html>
