<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="public/index.css" rel="stylesheet" />
	<link href="public/divs.css" rel="stylesheet" />
	<link rel="icon" href="assets/appicons/favicon.ico" sizes="32x32" />
	<link rel="icon" href="assets/appicons/fungus256.ico" sizes="256x256" />
	<link rel="icon" href="assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="icon" href="assets/appicons/fungus128.ico" sizes="128x128" />
	<link rel="apple-touch-icon" href="assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="license" href="https://gitlab.com/nate12345678/genshinRater/-/blob/main/LICENSE" />
	<title>Genshin Impact Character Build Rater</title>
</head>

<body>
	<h2>Account Details:</h2>
	<div class="acctInfo" id="acctInfo">
		<div class="textbox" style="text-align: center;"><b>Characters Per Element (lvl 70+)</b><br>
			<img class="acctEle" src="assets/elements/anemo.png" title="anemo">:&nbsp;{{index .CharsPerEle
			"anemo"}}&thinsp;
			<img class="acctEle" src="assets/elements/dendro.png" title="dendro">:&nbsp;{{index .CharsPerEle
			"dendro"}}&thinsp;
			<img class="acctEle" src="assets/elements/geo.png" title="geo">:&nbsp;{{index .CharsPerEle "geo"}}
			<br>
			<img class="acctEle" src="assets/elements/cryo.png" title="cryo">:&nbsp;{{index .CharsPerEle
			"cryo"}}&thinsp;
			<img class="acctEle" src="assets/elements/electro.png" title="electro">:&nbsp;{{index .CharsPerEle
			"electro"}}&thinsp;
			<img class="acctEle" src="assets/elements/hydro.png" title="hydro">:&nbsp;{{index .CharsPerEle
			"hydro"}}&thinsp;
			<img class="acctEle" src="assets/elements/pyro.png" title="pyro">:&nbsp;{{index .CharsPerEle
			"pyro"}}&thinsp;
		</div>
		<div class="textbox" style="text-align: center;"><b>Characters Per Role (lvl 70+)</b><br>
			<img class="acctEle" src="assets/elements/On-Field.png" title="On-Field">:&nbsp;{{index .CharsPerRole
			"on"}}&thinsp;
			<img class="acctEle" src="assets/elements/Off-Field.png" title="Off-Field">:&nbsp;{{index .CharsPerRole
			"off"}}
			<br>
			<img class="acctEle" src="assets/elements/DPS.png" title="DPS">:&nbsp;{{index .CharsPerRole
			"DPS"}}&thinsp;
			<img class="acctEle" src="assets/elements/Support.png" title="Support">:&nbsp;{{index .CharsPerRole
			"Support"}}&thinsp;
			<img class="acctEle" src="assets/elements/Survivability.png" title="Survivability">:&nbsp;
			{{- index .CharsPerRole "Survivability"}}
		</div>
		<div class="textbox" style="text-align: center;"><b>Characters By Rating</b><br>
			<em>S:</em>&nbsp;{{index .CharsPerRating "S" }}&emsp;<em>A:</em>&nbsp;
			{{- index .CharsPerRating "A"}}&emsp;<em>B:</em>&nbsp;{{index .CharsPerRating "B" }}&emsp;<em>C:</em>&nbsp;
			{{- index .CharsPerRating "C"}}&emsp;<em>D:</em>&nbsp;{{index .CharsPerRating "D" }}&emsp;<em>F</em>:&nbsp;
			{{- index .CharsPerRating "F"}}
		</div>
		{{- if ge .TotalChars 25 }}
		<div class="textbox" style="text-align: center;"><b>Insufficient Theaters ({{.TheaterLevel}})</b><br>
			{{- range .TooFewTheater }}
			<div class="theaterBox">
				<img class="acctEle" src="assets/elements/{{index . 0}}.png" title="{{index . 0}}"><!--
			 --><img class="acctEle" src="assets/elements/{{index . 1}}.png" title="{{index . 1}}"><!--
			 --><img class="acctEle" src="assets/elements/{{index . 2}}.png" title="{{index . 2}}">
			</div>
			{{- end }}
		</div>
		{{- end}}
	</div>
</body>

</html>
