<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="public/index.css" rel="stylesheet" />
	<link href="public/divs.css" rel="stylesheet" />
	<link rel="icon" href="assets/appicons/favicon.ico" sizes="32x32" />
	<link rel="icon" href="assets/appicons/fungus256.ico" sizes="256x256" />
	<link rel="icon" href="assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="icon" href="assets/appicons/fungus128.ico" sizes="128x128" />
	<link rel="apple-touch-icon" href="assets/appicons/fungus180.ico" sizes="180x180" />
	<link rel="license" href="https://gitlab.com/nate12345678/genshinRater/-/blob/main/LICENSE" />
	<title>Genshin Impact Character Build Rater</title>
</head>

<body>
	<div class="banner">
		<nav>
			<ul class="nav">
				<li class="titleReturn">
					<img class="bannerico" src="assets/appicons/fungus128.ico">
					<a href="./output.html">
						<h1>Genshin Impact Build Rater&nbsp;</h1>
					</a>
				</li>
				<li><a href="https://gitlab.com/nate12345678/genshinRater/">Code</a></li>
				<li><a href="https://frzyc.github.io/genshin-optimizer/#/scanner">Scanners</a></li>
				<li><a href="./config.html">Builds</a></li>
				<li><a href="./readme.html">About</a></li>
			</ul>
		</nav>
	</div>
	<div class="content">
		<header>
			<div style="margin: 0; padding: 0;">
				<h1> Genshin Impact Build Review </h1>
				<p>There are 7 score categories per character, each ranging from <em>S</em> to <em>F</em>. The scale
					is:<br>
					<em>S:</em> 100%<br>
					<em>A:</em> 99% - 88%<br>
					<em>B:</em> 87% - 76%<br>
					<em>C:</em> 75% - 64%<br>
					<em>D:</em> 63% - 52%<br>
					<em>F:</em> 51% - 0%
				</p>
				<p> For more information about how the percent scores are calculated, see the <a
						href="https://gitlab.com/nate12345678/genshinRater#about-the-scoring">README</a>.
				</p>
				<p>Comments indicate how scores can be improved, but are not ordered by importance.<br>
					The relative value of addressing a comment varies heavily based on character, constellations, weapon
					refinements, etc.</p>
				<p>
					If the images in this output are missing, that is because images are not shipped with the release
					package. To get images, download the source and copy the 'assets' folder to the same directory as
					this file.
				</p>
			</div>
		</header>
		<section>
			{{range .}}
			<div class="charCard show{{.Value.Element}} show{{.Value.Rarity}}star show{{.Value.WeaponType}} show{{.Value.Location}}{{range .Value.Roles}} show{{.}}{{end}} show{{.Value.TotalRating}}Chars{{if eq .Value.ArtifactScore 0}} showall{{end}}"
				id="{{.Key}}">
				<div class="namebox">
					<a href="/genshinRater/builds/#{{.Key}}">
						<img class="charIcon" src="assets/icons/{{.Value.Nickname}}.webp" title="{{.Value.Nickname}}"
							{{- if eq .Value.Rarity 5 }} style="background-color: var(--color5Star)" {{- else -}}
							style="background-color: var(--color4Star);" {{ end -}} alt="">
					</a>
					<div class="nameIcons">
						<h2 class="charName">{{.Value.Nickname}}</h2><!-- remove inline spacing
					--><img class="charEle" src="assets/elements/{{.Value.Element}}.png" title="{{.Value.Element}}" alt="">
						<br>
						<div class="textbox">
							<b>Artifact Roll Value</b>: {{.Value.ArtifactRV}}<br>
							<b>Artifact Crit Value</b>: {{.Value.ArtifactCV}}
						</div>
					</div>
				</div>
				<div class="textbox" style="margin-bottom: 0.5rem;">
					<b>Total Score</b>: <em>{{.Value.TotalRating}}</em> ({{.Value.TotalScore}}%)<br><br>
					<b>Artifact RV Score</b>: <em>{{.Value.RVRating}}</em> ({{.Value.RVScore}}%)<br>
					<b>Artifact Choice Score</b>: <em>{{.Value.ArtifactRating}}</em> ({{.Value.ArtifactScore}}%)<br>
					<b>Level Score</b>: <em>{{.Value.LevelRating}}</em> ({{.Value.LevelScore}}%)<br>
					<b>Talent Score</b>: <em>{{.Value.TalentRating}}</em> ({{.Value.TalentScore}}%)<br>
					<b>Weapon Score</b>: <em>{{.Value.WeaponRating}}</em> ({{.Value.WeaponScore}}%)<br>
					<b>Recommended Constellation Met</b>: <em>{{.Value.ConstellationRating}}</em>
					({{.Value.ConstellationMet}})<br>
				</div>
				{{- if .Value.SubRVs}}
				<div class="textbox substats" style="margin-bottom: 0.5rem;">
					<b>Substat Roll Values</b>:<br>
					{{- range $key, $value := .Value.SubRVs -}}
					&nbsp;&nbsp;<b>{{$key}}</b>:&nbsp;{{$value}}<br>
					{{end}}
				</div>
				{{- end}}
				{{- if .Value.Comments}}
				<div class="textbox">
					<b>Comments</b>:
					<ul>
						{{- range .Value.Comments}}
						<li>{{.}}</li>
						{{- end}}
					</ul>
				</div>
				{{- end}}
			</div>
			{{end}}
		</section>
	</div>
	<footer id="footerdiv">
		<p>
			See an issue with the results? Report it
			<a href="https://gitlab.com/nate12345678/genshinRater/-/issues/1">here</a>.
		</p>
		<a class="bottomLink" href="#">Back to top</a>
		<p class="bottomDisclaimer">
			This website is neither affiliated with nor endorsed by HoYoverse.
		</p>
	</footer>
</body>

</html>
